// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary:              #545454 !default;
$brand-info:                 #545454 !default;
$brand-success:              #545454!default;
$brand-warning:              #545454 !default;
$brand-danger:               #545454 !default;
$brand-rose:                 #545454!default;
$brand-inverse:              #545454 !default;
