<div class="main-content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-rose">
                        <h4 class="card-title">Identity Verification</h4>
                        <p class="card-category">We need to verify your Identity through Video. You will have to show your real PAN card for successfull identification.</p>
                    </div>
                    <div class="card-body">
                        <form class="userdetail">
                            
                            <div class="row">
                                <div class="identitylabel">
                                    <mat-label>When would you like to do your verification?</mat-label>
                                </div>
                            </div>  
                            <div class="row">
                                <div class="identitylabel">
                                    <mat-label>For smooth experience kindly connect wifi network while doing video verification.</mat-label>
                                </div>
                            </div>  
                            <br>
                            <div class="row identitylabel">
                                <div class="col-md-12" style="text-align: center;">
                                    <button mat-raised-button type="submit" class="btn btn-rose" (click)="clickFunction()">Initiate Verification</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
  </div>
  