<div class="main-content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Verification Status</h4>
                    </div>
                    <div class="card-body">
                        <form class="userdetail">
                            <div class="row">
                                <div class="col-md-12" style="text-align: center;">
                                    <h4>Verification Successful</h4>
                                </div>
                            </div>  
                            <br>
                            <div class="row">
                                <div class="col-md-12" style="text-align: center;">
                                    <img src="../../assets/img/tick.png">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12" style="text-align: center;">
                                    <mat-label>Click on proceed to view details</mat-label>
                                </div>
                            </div>  
                            <br>
                            <div class="row">
                                <div class="col-md-12" style="text-align: center;">
                                    <button mat-raised-button type="submit" class="btn btn-success" [routerLink] = "['/summary']">Proceed</button>
                                </div>                               
                            </div>
                            
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
  </div>
  